---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
// scheme: http://paletton.com/#uid=3000u0kq0r6fvE+kMuqsykv-ucT
$base-font-family: "Open Sans", sans-serif;;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #F25555;
$brand-color-dk:   #670000;
$brand-color-lt:   #FF8484;
$secondary-color:  #188282;
$secondary-color-dk: #003E3E;
$secondary-color-lt: #5FB9B9;
$action-color:     #93CA26;
$action-color-dk:  #406000;
$action-color-lt:  #CCF37E;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$screen-sm-min:    35.5em;
$screen-md-min:    48em;
$screen-lg-min:    64em;
$screen-xl-min:    80em;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
