---
layout: default
---
<div class="home">
  <h1 id="upcoming-events-heading" class="page-heading">Upcoming events</h1>

  <ul id="upcoming-events" class="post-list">
    {% for post in site.posts %}
      <li class="event" data-starttime="{{ post.starttime | date: "%c" }}" data-endtime="{{ post.endtime | date: "%c" }}">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <p class="post-meta">{{ post.starttime | date: "%A, %b %-d, %Y, %-I:%M %P" }} - {{ post.endtime | date: "%-I:%M %P" }}{% if site[post.group] %}<br>{{ site[post.group].title }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>

  <h1 id="past-events-heading" class="page-heading">Recent events</h1>

  <ul id="past-events" class="post-list"></ul>

  {% comment %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
  {% endcomment %}
</div>
<script src="/js/index.js"></script>
