<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <link rel="icon" type="image/png" href="img/icon/favicon-512x512.png" sizes="512x512">
  <link rel="icon" type="image/png" href="img/icon/favicon-384x384.png" sizes="384x384">
  <link rel="icon" type="image/png" href="img/icon/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="img/icon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="img/icon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/icon/favicon-16x16.png" sizes="16x16">
  <link rel="shortcut icon" href="img/icon/favicon.ico">
  <meta id="theme-color" name="theme-color" content="#f25555">

  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

  <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
  <![endif]-->
  <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <!--<![endif]-->

  <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
  {% endif %}

  {% if page.location %}
    <meta name="og:description" content="Meetup on {{ page.starttime | date: "%A, %B %-d, %Y" }}, {{ page.starttime | date: "%-I:%M %P" }} - {{ page.endtime | date: "%-I:%M %P" }}">
  {% elsif page.excerpt %}
    <meta name="og:description" content="{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}">
  {% else %}
    <meta name="og:description" content="{{ site.description }}">
  {% endif %}
  {% if page.image %}
    <meta name="og:image" content="{{ page.image }}">
  {% elsif site.image %}
    <meta name="og:image" content="{{ site.image }}">
  {% endif %}
</head>
