/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: $base-font-family;
  font-weight: 300;
}

/**
 * Links
 */
a {
  color: $brand-color;
  text-decoration: none;

  &:visited, &:hover {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: darken($brand-color, 50%);
    text-decoration: none;
  }
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

form.pure-form {
  .pure-control-group {
    margin-bottom: 0.5em;
  }

  .pure-controls {
    margin: 0.5em 0 0;
  }
}

.button-primary,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-primary {
  background: $secondary-color;
}

.button-secondary {
  background: $brand-color;
}
