/**
 * Site header
 */
header {
  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;

  background: $brand-color;
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    margin: 0.1em 0;
  }

  p {
    color: $text-color;
  }

  .brand-title > a {
    color: #fff;
    text-decoration: none;

    &:visited {
      color: #fff;
    }

    &:hover, &:active {
      color: darken(#fff, 10%);
    }
  }
}

.wrapper {
  padding: 1em;
}


/**
 * Site footer
 */
footer {
  border-top: 1px solid $grey-color-light;
  text-align: center;
  font-size: 0.9em;
  color: $grey-color;
  padding: 1em 0;
  @extend %clearfix;
}

.contact-list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin-left: 0.5em;

    &:first-child {
      margin-left: 0;
    }
  }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    padding-left: 1em;
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.mc_embed_signup {
  h2 {
    font-size: 1.2em;
  }

  input {
    padding: 0.3em 0.4em;

    &.mce_inline_error {
      color: $text-color;
      border-color: $brand-color-dk;
    }
  }

  input[type="submit"] {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: $screen-md-min) {
  header {
    position: fixed;
    top: 0;
    bottom: 0;
    text-align: right;

    h1 {
      margin-top: 20%;
    }

    .wrapper {
      padding: 0 1em;
    }
  }

  .content {
    margin-left: 33.3333%;
  }

  .mc_embed_signup {
    margin: 3em 0 0;

    input[type="submit"] {
      display: inline-block;
      width: auto;
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .content {
    margin-left: 25%;
  }
}
